<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
</head>
<body>
    <h1>{{mensagem}}</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {{#usuarios}}
            <tr>
                <td>{{id}}</td>
                <td>{{nome}}</td>
            </tr>
            {{/usuarios}}
        </tbody>
    </table>
</body>
</html>
