<main class="p-8">
    <h1 class="text-3xl font-bold text-blue-600 mb-6 text-center">Alterando Usuário: <%= usuario.nome %></h1>

    <form id="usuarioForm" action="/usuarios/<%= usuario.id %>/alterar" method="POST" class="bg-white shadow-md rounded-lg p-6 w-full">
        <%- include("_fields", { usuario: usuario }) %>

        <!-- Botão de Enviar -->
        <div class="flex justify-end mt-6">
            <div id="feedback"></div>
            <button type="submit"
                class="bg-blue-600 text-white px-8 py-3 rounded-md shadow-md hover:bg-blue-700 transition">
                Alterar Usuário
            </button>
        </div>
    </form>


    <script>
        /*
        document.getElementById("usuarioForm").addEventListener("submit", async function (event) {
            event.preventDefault(); // Impede o envio normal do formulário

            // Captura os dados do formulário
            const formData = {
                nome: document.getElementById("nome").value,
                endereco: document.getElementById("endereco").value,
                email: document.getElementById("email").value,
                senha: document.getElementById("senha").value
            };

            try {
                // Envia os dados via fetch para /usuarios/criar-json
                const response = await fetch("/usuarios/criar-json", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(formData)
                });

                const result = await response.json(); // Converte a resposta para JSON

                // Exibe mensagem de sucesso ou erro
                const feedback = document.getElementById("feedback");
                if (result.sucesso == "true") {
                    feedback.className = "bg-green-100 border border-green-400 text-green-700 p-4 rounded-md";
                    feedback.innerHTML = `<strong>Sucesso!</strong> Criado com sucesso`;
                    feedback.style.display = "block";
                    
                    // Limpa os campos do formulário
                    document.getElementById("usuarioForm").reset();
                } else {
                    feedback.className = "bg-red-100 border border-red-400 text-red-700 p-4 rounded-md";
                    feedback.innerHTML = `<strong>Erro!</strong> ${result.error}`;
                    feedback.style.display = "block";
                }
            } catch (error) {
                console.error("Erro ao enviar requisição:", error);
            }
        });
        */
    </script>
</main>
